*{
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    font-size: larger;
}

header {
    position: sticky;
    align-items: center;
    top: 0;
}

h2 {
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
    border-radius: 25px;
    margin: 25px;
}

.secondry {
    background-image: linear-gradient(0deg, rgb(34, 193, 195) 0%, rgb(253, 187, 45) 100%);
    text-align: center;
    border-radius: 25px;
}

.banks {
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    text-align: center;
    border-radius: 25px;
}

.other {
    
    text-align: center;
    border-radius: 25px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    border-radius: 4px;
}

.umesh{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    margin: 22px;
    padding: 2px;
}

.icon{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}        

img{
    height: 100px;
    width: 100px;
    position: fixed;
    bottom:  75px;
    right: 15px;
    border-radius: 60px;
    background-color: white;
}


/* Navbar CSS */



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    position: relative;
    display: inline-block;
}

nav ul li a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown{
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(185,148,233,1) 100%);
    margin: 5px;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-image: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    color: black;
    min-width: 150px;
    top: 100%;
    left: 0;
}

nav ul li .dropdown-menu li {
    display: block;
}

nav ul li .dropdown-menu li a {
    border: 1px solid black;
    padding: 10px;
    color: black;
}

nav ul li:hover .dropdown-menu {
    display: block;
}

/* SUB dropdown */

.sub-dropdown {
    position: relative;
}

.sub-dropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-image: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    width: 200px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sub-dropdown:hover .sub-dropdown-menu {
    display: block;
}
